<div>
  <h1 class="feeder-heading">Feedeer Info Table</h1>
  <section class="example-container mat-elevation-z8" tabindex="0">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Name Column -->
      <ng-container matColumnDef="SSID" sticky>
        <th mat-header-cell *matHeaderCellDef> SSID </th>
        <td mat-cell *matCellDef="let element"> {{element?.SSID}} </td>
      </ng-container>
  
      <!-- Position Column -->
      <ng-container matColumnDef="SS Name">
        <th mat-header-cell *matHeaderCellDef> SS Name </th>
        <td mat-cell *matCellDef="let element"> {{element?.NAME}} </td>
      </ng-container>
  
      <!-- Weight Column -->
      <ng-container matColumnDef="Circle Name">
        <th mat-header-cell *matHeaderCellDef>Circle Name </th>
        <td mat-cell *matCellDef="let element"> {{element?.Cir_Name}} </td>
      </ng-container>
  
      <!-- Symbol Column -->
      <ng-container matColumnDef="Div Name">
        <th mat-header-cell *matHeaderCellDef> Div Name </th>
        <td mat-cell *matCellDef="let element"> {{element?.Div_Name}} </td>
      </ng-container>
  
      <!-- Star Column -->
      <ng-container matColumnDef="Feeder Name" >
        <th mat-header-cell *matHeaderCellDef >Feeder Name</th>
        <td mat-cell *matCellDef="let element">{{element?.FeederInfo[0].name}} </td>
      </ng-container>

      <ng-container matColumnDef="Date-Time" >
        <th mat-header-cell *matHeaderCellDef >Date-Time</th>
        <td mat-cell *matCellDef="let element">{{element?.message?.msgts}} </td>
      </ng-container>
      
      <ng-container matColumnDef="IR" >
        <th mat-header-cell *matHeaderCellDef >IR</th>
        <td mat-cell *matCellDef="let element">{{element?.message?.data[1][1]}} </td>
      </ng-container>

      <ng-container matColumnDef="IY" >
        <th mat-header-cell *matHeaderCellDef >IY</th>
        <td mat-cell *matCellDef="let element">{{element?.message?.data[3][1]}} </td>
      </ng-container>

      <ng-container matColumnDef="IV" >
        <th mat-header-cell *matHeaderCellDef >IV</th>
        <td mat-cell *matCellDef="let element">{{element?.message?.data[2][1]}} </td>
      </ng-container>

      <ng-container matColumnDef="VR" >
        <th mat-header-cell *matHeaderCellDef >VR</th>
        <td mat-cell *matCellDef="let element">{{element?.message?.data[4][1]}} </td>
      </ng-container>

      <ng-container matColumnDef="VY" >
        <th mat-header-cell *matHeaderCellDef >VY</th>
        <td mat-cell *matCellDef="let element">{{element?.message?.data[5][1]}} </td>
      </ng-container>

      <ng-container matColumnDef="VB" >
        <th mat-header-cell *matHeaderCellDef >VB</th>
        <td mat-cell *matCellDef="let element">{{element?.message?.data[6][1]}} </td>
      </ng-container>

      <ng-container matColumnDef="KWR" >
        <th mat-header-cell *matHeaderCellDef >KWR</th>
        <td mat-cell *matCellDef="let element">{{element?.message?.data[7][1]}} </td>
      </ng-container>

      <ng-container matColumnDef="KWY" >
        <th mat-header-cell *matHeaderCellDef >KWY</th>
        <td mat-cell *matCellDef="let element">{{element?.message?.data[8][1]}} </td>
      </ng-container>

      <ng-container matColumnDef="KWB" >
        <th mat-header-cell *matHeaderCellDef >KWB</th>
        <td mat-cell *matCellDef="let element">{{element.message.data[9][1]}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</section>
  
</div>